<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" type="reset"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-toggle 
          [(ngModel)]="eliminarRegistrosCitas" 
          (ionChange)="onCambioEnEliminacionCita($event)"
          aria-label="Permitir eliminar citas en el inicio"
      >
        <ion-icon slot="start" name="trash" class="icono-basura"></ion-icon>
        Permitir eliminar citas en el inicio
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
