.cita-texto {
    font-family: Verdana, sans-serif;
    text-align: left;
    font-size: 1em; 
    margin-bottom: 10px;
  }
    
  .cita-autor {
    text-align: right;
    color: gray;
    font-size: 0.8em; 
  }